<div class="container d-flex h-100 justify-content-center">
  <div id="practitionersDiv" class="m-2 pt-3">
    <h5 class="mx-auto text-center"> Total practitioners {{ noPractitioners}}</h5>
    <canvas id="practitionersChart"></canvas>
  </div>

  <div id="examinationsDiv" class="m-2 pt-3">
    <h5 class="mx-auto text-center"> Running examinations {{ noExaminations}}</h5>
    <canvas id="examinationsChart"></canvas>
  </div>
</div>

<div class="container d-flex h-100 justify-content-center">
    <div id="qualificationsDiv" class="m-2">
        <canvas id="qualificationsChart"></canvas>
    </div>
</div>
  

