<div class="col-lg-8 col-md-10 mx-auto">
  <h3 class="text-center p-3">Patient Details</h3>

  <div class="d-flex justify-content-center align-items-start">
    <!-- <a routerLink="/practitioner/list"
        ><button type="button" class="rounded-pill btn btn-danger">Back</button>
      </a> -->
    <button
      type="button"
      class="rounded-pill btn btn-outline-danger"
      (click)="backClicked()"
    >
      Back
    </button>
  </div>
  <hr />
</div>

<div class="h-100 d-flex justify-content-center align-items-center">
  <div class="d-flex flex-column">
    <table class="table table-striped">
      <ng-container *ngIf="patient; else loading">
        <tbody>
          <h1 class="pt-3" [ngClass]="patient.active ? 'null' : 'strikethrough'">{{ patient.name }} {{ patient.surname }}</h1>

          <!-- <tr>
              <td>Name</td>
              <td></td>
            </tr>
            <tr>
              <td>Surname</td>
              <td></td>
            </tr> -->
          <tr>
            <td>Gender</td>
            <td>{{ patient.gender }}</td>
          </tr>
          <tr>
            <td>Birthdate</td>
            <td>{{ patient.birthDate }}</td>
          </tr>
          <tr>
            <td>Marital status</td>
            <td>{{ patient.maritalStatus|printFormatter }}</td>
          </tr>

          <h4 class="pt-5">Contact</h4>

          <tr>
            <td>Email</td>
            <td>{{ patient.email }}</td>
          </tr>

          <tr>
            <td>Phone</td>
            <td>{{ patient.phone }}</td>
          </tr>
          <tr>
            <td>Adress</td>
            <td>{{ patient.address }}</td>
          </tr>

          <h4 class="pt-5">Healthcare</h4>

          <tr>
            <td>Patient identifier</td>
            <td>{{ patient.identifier }}</td>
          </tr>
          <tr>
            <td>Deceased</td>
            <td>{{ patient.deceased }}</td>
          </tr>
          <tr>
            <td>Organization</td>
            <td>
              <ng-container *ngIf="patient.organization">
                <a
                  class="text-decoration-none"
                  [routerLink]="[
                    '/organization/details',
                    patient.organization.id
                  ]"
                >
                  {{ patient.organization.name }}
                </a>
              </ng-container>
            </td>
          </tr>
          <tr>
            <td>Primary doctor</td>
            <td>
              <ng-container *ngIf="patient.primaryCareProvider">
                <a
                  class="text-decoration-none"
                  [routerLink]="[
                    '/practitioner/details',
                    patient.primaryCareProvider.id
                  ]"
                >
                  {{ patient.primaryCareProvider.name }} {{patient.primaryCareProvider.surname}}
                </a>
              </ng-container>
            </td>
          </tr>
        </tbody>
      </ng-container>
    </table>
  </div>
  <ng-template #loading> Loading... </ng-template>
</div>
