<div class="col-lg-8 col-md-10 mx-auto">
  <div *ngIf="edit; else createNew">
    <h3 class="text-center p-3">Edit Practitioner</h3>
  </div>
  <ng-template #createNew>
    <h3 class="text-center p-3">Add Practitioner</h3>
  </ng-template>

  <div class="d-flex justify-content-center align-items-start">
    <a routerLink="/practitioner/list"
      ><button type="button" class="rounded-pill btn btn-outline-danger">
        Back
      </button>
    </a>
  </div>
  <hr />
</div>

<div class="h-100 d-flex justify-content-center align-items-center">
  <form
    *ngIf="practitionerForm"
    [formGroup]="practitionerForm"
    (ngSubmit)="onSubmit()"
  >
    <div class="row g-3">
      <div class="col">
        <div class="from-group">
          <label for="name">Name</label>
          <input
            id="name"
            class="form-control"
            placeholder="Name"
            type="text"
            formControlName="name"
          />
          <div class="alert alert-danger py-1" *ngIf="hasErrors('name')">
            <span *ngIf="hasErrors('name', 'required')">
              <small>Name is required.</small>
            </span>
            <span *ngIf="hasErrors('name', 'minlength')">
              <small>Name must have at least 3 characters.</small>
            </span>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="from-group">
          <label for="surname">Surname</label>
          <input
            id="surname"
            class="form-control"
            placeholder="Surname"
            type="text"
            formControlName="surname"
          />
          <div class="alert alert-danger py-1" *ngIf="hasErrors('surname')">
            <span *ngIf="hasErrors('surname', 'required')">
              <small>Surname is required.</small>
            </span>
            <span *ngIf="hasErrors('surname', 'minlength')">
              <small>Surname must have at least 3 characters.</small>
            </span>
          </div>
        </div>
      </div>
    </div>

    <div class="row g-3">
      <div class="col">
        <div class="from-group">
          <label for="name">Gender</label>
          <select class="form-select" formControlName="gender">
            <option *ngFor="let gen of genders" [ngValue]="gen">
              {{ gen }}
            </option>
          </select>
          <div class="alert alert-danger py-1" *ngIf="hasErrors('gender')">
            <span *ngIf="hasErrors('gender', 'required')">
              <small>Gender is required.</small>
            </span>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="from-group">
          <label for="name">Birthdate</label>
          <input
            id="birthdate"
            class="form-control"
            placeholder="Birthdate"
            type="date"
            formControlName="birthDate"
          />

          <div class="alert alert-danger py-1" *ngIf="hasErrors('birthDate')">
            <span *ngIf="hasErrors('birthDate', 'required')">
              <small>Birthdate is required.</small>
            </span>
          </div>
        </div>
      </div>
    </div>

    <h5 class="pt-2">Contact</h5>

    <div class="row g-3">
      <div class="col">
        <div class="from-group">
          <label for="name">Email</label>
          <input
            id="name"
            class="form-control"
            placeholder="Email"
            type="email"
            formControlName="email"
          />
          <div class="alert alert-danger py-1" *ngIf="hasErrors('email')">
            <span *ngIf="hasErrors('email')">
              <small>Email is invalid.</small>
            </span>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="from-group">
          <label for="name">Phone</label>
          <input
            id="phone"
            class="form-control"
            placeholder="Phone"
            type="text"
            formControlName="phone"
          />
        </div>
      </div>
    </div>

    <div class="from-group">
      <label for="address">Adress</label>
      <input
        id="address"
        class="form-control"
        placeholder="Address"
        type="text"
        formControlName="address"
      />
    </div>

    <h5 class="pt-2">Work data</h5>
    <div class="row g-3">
      <div class="col">
        <div class="from-group">
          <label for="name">Practitioner identifier</label>
          <input
            id="identifier"
            class="form-control"
            placeholder="Identifier"
            type="text"
            formControlName="identifier"
          />
          <div class="alert alert-danger py-1" *ngIf="hasErrors('identifier')">
            <span *ngIf="hasErrors('identifier')">
              <small>Minimum lenght is 5.</small>
            </span>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="from-group">
          <label for="name">Qualification</label>
          <select class="form-select" formControlName="qualification">
            <option *ngFor="let type of qualifications" [ngValue]="type">
              {{ type | printFormatter }}
            </option>
          </select>
          <div
            class="alert alert-danger py-1"
            *ngIf="hasErrors('qualification')"
          >
            <span *ngIf="hasErrors('qualification', 'required')">
              <small>Qualification is required.</small>
            </span>
          </div>
        </div>
      </div>
    </div>

    <div class="from-group" *ngIf="organizations">
      <label for="name">Organization</label>
      <select
        class="form-select"
        formControlName="organization"
        [compareWith]="compareObj"
      >
        <option [ngValue]="undefined">None</option>
        <option *ngFor="let org of organizations" [ngValue]="org">
          {{ org.name }}
        </option>
      </select>
    </div>

    <hr />
    <div class="row justify-content-center mb-3">
      <button class="btn btn-success" [disabled]="!practitionerForm.valid">
        Save
      </button>
      <span *ngIf="!practitionerForm.valid" class="badge bg-danger"
        >Form fields aren't valid.</span
      >
    </div>
  </form>
</div>
